name: build and test

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/build-and-test.yml
      - EnchantsOrder**
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  DOTNET_VERSION: 10.0.x # The .NET SDK version to use

jobs:
  build-and-test:
    name: build-and-test-${{ matrix.os }}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    env:
      Solution_Name: EnchantsOrder/EnchantsOrder.Tests/EnchantsOrder.Tests.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET Core App
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: dotnet restore ${{ env.Solution_Name }} -p:FullTargets=false

      - name: Build
        run: dotnet build ${{ env.Solution_Name }} --no-restore -p:FullTargets=false

      - name: Test
        run: dotnet test ${{ env.Solution_Name }} --no-restore --blame-hang-timeout 1m -p:FullTargets=false

  build-and-publish:
    needs: build-and-test
    runs-on: ubuntu-latest
    env:
      Solution_Name: EnchantsOrder/EnchantsOrder.Web/EnchantsOrder.Web.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Install the .NET Core App workload
      - name: Install .NET Core App
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install WASM Tools Workload
        run: dotnet workload install wasm-tools

      # Restore the application to populate the obj folder with RuntimeIdentifiers
      - name: Install Dependencies
        run: dotnet restore $Solution_Name

      - name: Publish
        run: dotnet publish $Solution_Name -c:Release -o:public

      # Add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
      - name: Add .nojekyll file
        run: touch public/wwwroot/.nojekyll

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/wwwroot

  deploy:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    needs: build-and-publish

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
